body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #212426;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

.projects {
    text-align: left;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding: 10px;
    border-color: darkgray;
}